.test{
    height: 120px;
    width: auto;
    background-color: rgb(93, 88, 88);
     align-content: center;
    /* text-align: center;  */
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}
.home{
    height: 60px;
    width: auto;
    background-color: black;
    text-align: center;
    align-content: center;
   position: sticky;
   top: 0px;
}
a{
    margin-right: 30px;
    padding: 20px;
    color: white;
    text-decoration: none;
}
a:hover{
    color: rgb(30, 137, 236);
}

.headline{
    display: flex;
    justify-content:space-around ;
}
.child{
    height: 500px;
    width: 300px;
    border: 1px solid rgb(177, 151, 151);
    margin: 50px;
}
button{
    background-color: blue;
}
