div{
   background-color: black;
    color: aqua;
}

button{
   background-color: pink;
}
#heading1 {
    color: darkgreen;
}
#headingThree {
    color: blue;
}
.hello {
    color: blueviolet;
}
div{
    background-color: blue;
}

