div{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: aqua ;
    margin: auto;
    background: linear-gradient(red,yellow,blue);
    border: 5px solid green;
     /* animation: 900ms ease-in 0s infinite alternate none runnig bounce; transform-origin: 4s; */
    /* animation-name: new; */
    animation-timing-function: ease-out;
    animation: bounce;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate;
}


@keyframes bounce {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(85vh) rotate(360deg);
    }
    
}